<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>სათამაშოები</title>
    <link rel="stylesheet" href="../static/css/categoriesstyles.css">
    <script src="../js/home.js"></script>
</head>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="../Images/5ea2a86505e63bdd814cf868_Logo.png" alt="">
            </div>
            <div class="menu-area">
                <ul>
                    <li>მთავარი</li>
                    <li style="background-color: #fff; color: #313131;">სათამაშოები
                        <ul class="drop-down">
                            <li>კატეგორია1</li>
                            <li>კატეგორია2</li>
                            <li>კატეგორია3</li>
                            <li>კატეგორია4</li>
                        </ul>
                    </li>
                    <li>კონტაქტი</li>
                    <li>ჩვენს შესახებ</li>
                </ul>
            </div>
        </nav>
        <main>
            <img src="../Images/2cd43b_d1ecd76051de458b9041402093ffeb54_mv2.png" class="move_child">
        </main>
        <div id="sidebar">
                <ul>
                    <li style="border-radius: 5px 5px 0 0;">კატეგორია 1</li>
                    <li style="border-radius: 0;">კატეგორია2</li>
                    <li style="border-radius: 0 0 5px 5px;">კატეგორია3</li>
                </ul>
        </div>
        <div id="content">
            <div>სათამაშო 1</div>
            <div>სათამაშო 2</div>
            <div>სათამაშო 3</div>
            <div>სათამაშო 4</div>
            <div>სათამაშო 5</div>
            <div>სათამაშო 6</div>
            <div>სათამაშო 7</div>
            <div>სათამაშო 8</div>
            <div>სათამაშო 9</div>

        </div>
        <footer>ყველა უფლება დაცულია</footer>
    </div>