  <!DOCTYPE html>
<html>
<head>
	<title>კონტაქტი</title>
	<link rel="stylesheet" type="text/css" href="../static/css/contactstyles.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <script src="../js/home.js"></script>
</head>
<body>
    <div class="logo">
        <img src="../Images/5ea2a86505e63bdd814cf868_Logo.png" alt="">
    </div>
    <div class="menu-area">
        <ul>
            <li id="li1"><a href="home.html" style="color: #fff; text-decoration: none;">მთავარი</a></li>
            <li id="li2"><a href="categories.html" style="color: #fff; text-decoration: none;">სათამაშოები</a>
                <ul class="drop-down">
                    <li style="font-size: 10px;">ფუმფულა სათამაშოები</li>
                    <li>თოჯინები</li>
                    <li>ჯარისკაცები</li>
                    <li>თოფები</li>
                </ul>
            </li>
            <li id="li3" style="background-color: #00fecb;"><a href="contact.html" style="color: #fff; text-decoration: none;">კონტაქტი</a></li>
            <li id="li4"><a href="about.html" style="color: #fff; text-decoration: none;">ჩვენს შესახებ</a></li>
        </ul>
        
    </div>
    <div class="container1">
        <div class="icon">
            <i class="search fa fa-search"></i>
        </div>
        <div class="input">
            <input type="text" placeholder="ძიება" id="search">
            <i class="clear fa fa-times"></i>
        </div>
    </div>
	<div class="container">
		<div class="contact-box">
			<div class="left" id="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
				<input type="text" class="field" placeholder="სახელი">
				<input type="text" class="field" placeholder="მეილი">
				<input type="text" class="field" placeholder="მობილური">
				<textarea placeholder="ტექსტი" class="field"></textarea>
				<button class="btn">Send</button>
			</div>
		</div>
	</div>
    
    
    <script>
        let search = document.querySelector(".search");
        let clear = document.querySelector(".clear");

        search.onclick = function(){
            document.querySelector(".container1").classList.toggle("active");
        }
        clear.onclick = function(){
            document.getElementById("search").value = "";
            document.querySelector(".container1").classList.toggle("active");
        }
    </script>
</body>
</html>