<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="../js/home.js"></script>
</head>
<body >
    <div class="logo">
        <img src="../Images/5ea2a86505e63bdd814cf868_Logo.png" alt="">
    </div>
    <div class="menu-area">
        <ul>
            <li>მთავარი</li>
            <li>სათამაშოები
                <ul class="drop-down">
                    <li>კატეგორია1</li>
                    <li>კატეგორია2</li>
                    <li>კატეგორია3</li>
                    <li>კატეგორია4</li>
                </ul>
            </li>
            <li>კონტაქტი</li>
            <li>ჩვენს შესახებ</li>
        </ul>
    </div>
    <div class="welcome-text">
        <h1>
        ჩვენ ვართ <span>კომპანია</span></h1>
        <a href="#">Contact US</a>
    </div>
</body>
</html>